.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 auto;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.page-item.active {
    background-color: black;
    color: white;
}

.page-item.disabled {
    color: gray;
    cursor: not-allowed;
}

.page-item:hover:not(.active):not(.disabled) {
    background-color: #f0f0f0;
}
